# Database Driver
psycopg2-binary==2.9.9

# Data Processing and Generation
pandas==2.2.0
numpy==1.26.3

# Visualization (plotting scripts)
matplotlib==3.8.2
seaborn==0.13.1

# Utilities
tqdm==4.66.1
python-dotenv==1.0.0

